body {
    background-color: rgb(253, 251, 251);
    font-size: 15px;
    font-family: monospace;
    line-height: 30px;
    color: gray;
}

#cabecalho {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: cadetblue;
}

#minha_foto {
    display: block;
    width: 350px;
    border-radius: 100%;
    margin: auto;
    margin-top: 5%;
}

#licoes_aprendidas {
    display: inline-block;
}

#licoes_a_aprender {
    display: inline-block;
}

article {
    margin: 25px;
    padding: 25px;
    border: 1px solid black;
}